<p id="notice"><%= notice %></p>

<h1>Listing Sells</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sells.each do |sell| %>
      <tr>
        <td><%= sell.product %></td>
        <td><%= sell.cantidad %></td>
        <td><%= sell.precio %></td>
        <td><%= link_to 'Show', sell %></td>
        <td><%= link_to 'Edit', edit_sell_path(sell) %></td>
        <td><%= link_to 'Destroy', sell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sell', new_sell_path %>
